@import "../../variables.scss";

.hiddenInput {
  display: none;
}

.square {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  font-size: 30px;
  object-fit: cover;
}

.mediaPreview {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.mediaContent {
  width: 64px;
  height: 64px;
  object-fit: cover;
}

.fileItem {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 14px;
  text-align: center;
  padding: 10px;
  word-break: break-word;
}
