@import "../../shared/Variables.scss";

.calendarContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.datePicker {
  width: 100%;
  max-width: 200px;
  font-size: 16px;
}

.react-datepicker {
  position: relative;
  left: 50px;
  bottom: 10px;
  font-family: "Golos Text", sans-serif;
  background-color: $color-background;
  color: $color-font-active;
  border-radius: 20px;
  font-size: 16px;
  border: 1px color $color-font-active;
  overflow: hidden;
}

.react-datepicker__header {
  background-color: $color-background;
  color: $color-font-active;
  cursor: default;
  border-radius: 20px 0 0;
}

.react-datepicker__current-month {
  font-weight: bold;
  font-size: 18px;
  text-transform: capitalize;
  color: $color-font-active;
}

.react-datepicker__day-names {
  font-weight: bold;
  color: $color-font-active;
}

.react-datepicker__month {
  margin: 5px;
}

.react-datepicker__day {
  color: $color-font-active;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
  border: 2px solid $color-background;
}

.react-datepicker__day:hover {
  background-color: $color-action!important;
  color: $color-font-active;
}

.react-datepicker__day--selected {
  background-color: inherit;
  border: 2px solid $color-action;
  color: $color-font-active;
}

.react-datepicker__day--disabled {
  cursor: no-drop;
  color: #d5d4d4;
}

.react-datepicker__day--disabled:hover {
  background-color: #d5d4d4;
  color: $color-font-active;
}

.react-datepicker__day--today {
  font-weight: 700;
  color: $color-font-active;
  background-color: inherit;
}

.react-datepicker__header--time {
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 20px 0 0;
}

.react-datepicker-time__header {
  background-color: $color-background;
  color: $color-font-active;
  border: 0 20px 0 0;
}

.react-datepicker__time-box {
  background-color: $color-background;
  color: $color-font-active;
  border: 0 0 20px 0;
}

.react-datepicker__time-container {
  border-radius: 0 20px 20px 0;
}

.react-datepicker__triangle {
  display: none;
}
