@import "../../shared/Variables.scss";

.container {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 15px;
  background-color: $color-background-container;
  border-radius: 8px;
  gap: 5px;
  transition: all 0.3s ease-in-out;
  position: relative;

  p {
    position: relative;
    top: -2px;
  }
  svg {
    width: 20px;
  }
  input {
    width: 100%;
  }
}

.active:hover {
  cursor: pointer;
  background-color: #dfdfdf;

  button {
    display: flex;
  }
}

.light {
  background-color: $color-background;
}

.br16 {
  border-radius: 16px;
}

.pd0 {
  padding: 0px;
}
