@import "../../shared/Variables.scss";

.container {
  min-height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 15px;
  background-color: $color-background-container;
  border-radius: 8px;
  gap: 5px;
  transition: all 0.3s ease-in-out;
  p{
    position: relative;
    top: -4px;
  }
}

.active:hover{
  cursor: pointer;
  background-color: #dfdfdf;
}
.light {
  background-color: $color-background;
  p{
    position: relative;
    top: -2px;
  }
  button{
    display: none;
  }
}

.br16 {
  border-radius: 16px;
}

.pd0{
    padding: 0px;
}

.close {
  position: relative;
  svg {
    width: 20px;
    position: absolute;
    top: -5px;
    right: -5px;
    fill: $color-delete;
    display: none;
  }
}
.close:hover {
  svg {
    display: block;
  }
}