@import "../../shared/Variables.scss";

.container {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 15px;
  background-color: $color-background-container;
  border-radius: 8px;
  gap: 5px;
  transition: all 0.3s ease-in-out;

  svg {
    width: 20px;
  }
  p {
    position: relative;
    top: -4px;
  }
  input {
    width: 100%;
  }
}

.active:hover {
  cursor: pointer;
  background-color: #dfdfdf;
}
.light {
  background-color: $color-background;
  p {
    position: relative;
    top: -2px;
  }
  button {
    display: none;
  }
}

.br16 {
  border-radius: 16px;
}

.pd0 {
  padding: 0px;
}

.close {
  position: relative;
  svg {
    width: 20px !important;
    position: absolute;
    top: -5px !important;
    right: -5px !important;
    fill: $color-delete;
    display: none;
  }
}
.close:hover {
  svg {
    display: block;
  }
}
