:root {
  /* Light mode */
  --color-background: #FFFFFF;
  --color-background-container: #F1F4F9;
  --color-font-disable: #DFE3EA;
  --color-font-active: #38424F;
  --color-action: #1370B9;
  --color-delete: #E94242;

  --color-submit: #FFD9D9;
  --color-font-submit: #E24E4E;

  --color-sent: #FFF5D9;
  --color-font-sent: #BF7900;

  --color-success: #E3FFD6;
  --color-font-success: #39990F;

  /* Dark mode */
  --color-background-dark: #0f1828;
  --color-background-dark-container: #152033;
}

/* Animation */
@keyframes slide-x {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-y {
  0% {
    opacity: 0;
    transform: translateY(-25%);
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    transform: rotate(0deg);
  }
  12% {
    transform: rotate(-10deg);
  }
  25% {
    transform: rotate(-20deg);
  }
  36% {
    transform: rotate(-10deg);
  }
  49% {
    transform: rotate(0deg);
  }
  61% {
    transform: rotate(10deg);
  }
  74% {
    transform: rotate(20deg);
  }
  87% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes shimmer {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}
