.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  
  svg{
    width: 20px;
  }

  .textarea {
    width: 100%;
    border: 0px;
    resize: none;
    outline: none;
  }
}
