.addTag {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(133, 132, 132, 0.2);
  backdrop-filter: blur(1px);
  z-index: 1;
}
.content {
  width: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background-color: #1f1f1f;
  padding: 20px;
  border: 1px solid white;
}

.show {
  display: flex;
}
