@import "../../shared/Variables.scss";

.customButton {
  min-height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  color: $color-font-active;
  background-color: $color-background-container;
  border-radius: 16px;
  border: 2px solid $color-background-container;
  gap: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  svg{
    width: auto;
    fill: $color-background;
    transition: all 0.3s ease-in-out;
  }
}
.customButton:hover {
  background-color: inherit;
}

.blue {
  color: $color-background;
  border: 2px solid $color-action;
  background-color: $color-action;
  padding: 10px 20px;
}
.blue:hover {
  background-color: inherit;
  color: $color-action;
}
